################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/environment/influxdb
/environment/grafana
/environment/jenkins_data
